.custom-alert-container {
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 500px;
}

.custom-alert {
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 12px rgba(0, 31, 63, 0.15);
    transition: opacity 0.4s ease-in-out;
}

.custom-alert.success {
    background-color: #CEF4EB;
    color: #001F3F;
    border-left: 6px solid #052560;
}

.custom-alert.warning {
    background-color: #FFF3CD;
    color: #856404;
    border-left: 6px solid #FFC107;
}
.custom-alert.error {
    background-color: #FFDAB9;
    color: #5a0000;
    border-left: 6px solid #ff4d4d;
}

.custom-alert .close-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: inherit;
    cursor: pointer;
}