.login-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem;
    margin-top: 5rem;
}

.login-title {
    color: #001F3F;
    font-weight: bold;
}

.login-form {
    width: 100%;
    max-width: 400px;
    background-color: #CEF4EB;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.form-label {
    color: #052560;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.login-input {
    border-radius: 8px;
    border: 1px solid #A8D5E2;
    padding: 10px;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.btn-login {
    background-color: #001F3F;
    font-weight: bold;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #FFD700;
    color: #052560;
}

.login-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #052560;
}

.login-footer a {
    color: #001F3F;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.login-footer a:hover {
    color: #FFD700;
    text-decoration: underline;
}